@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;
  background-color: #0c0c0d;
  color: #edeaf0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.select {
  padding: 6rem;
}

#category-select {
  font-size: 0.75rem;
  letter-spacing: 0.0225rem;
}

#select-button {
  margin-top: 0.5rem;
  display: flex;
  padding: 0.75rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.375rem;
  border: 1px solid #252529;
  background-color: #17171a;
}

#select-value {
  color: #afabb6;
  font-size: 0.875rem;
  letter-spacing: 0.02625;
}

#chevrons svg {
  width: 1rem;
  height: 1rem;
}

#chevrons {
  color: #afabb6;
}

#chevrons [data-lucide='chevron-up'] {
  display: none;
}

#options-view-button:focus + #select-button,
#options-view-button:checked + #selected-button {
  outline: 1px solid #a881e6;
}

#category-select:has(#options-view-button:checked) label,
#options-view-button:checked + #select-button #chevrons {
  color: #a881e6;
}

#options-view-button:checked
  + #select-button
  #chevrons
  [data-Lucide='chevron-down'] {
  display: none;
}

#options-view-button:checked
  + #select-button
  #chevrons
  [data-Lucide='chevron-up'] {
  display: block;
}

#category-select {
  position: relative;
}

#options-view-button {
  all: unset;
  position: absolute;
  inset: 0;
  cursor: pointer;
  z-index: 3;
}

#options {
  margin-top: 0.25rem;
  border-radius: 0.375rem;
  border: 1px solid #252529;
  background: #17171a;
  display: none;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  border-bottom: 1px solid #252529;
  position: relative;
}

.option .label {
  color: #fbf9fe;
}

.option svg {
  width: 1rem;
  height: 1rem;
}

.option svg:last-child {
  margin-left: auto;
  color: #a881e6;
  display: none;
}

.option:has(input:checked),
.option:hover {
  border-bottom: 1px solid #252529;
  background-color: #252529;
}

.option:has(input:focus) {
  outline: 1px solid #a881e6;
}

.option:has(input:checked) [data-lucide='check'] {
  display: block;
}

.option input[type='radio'] {
  all: unset;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.option:nth-child(1) {
  color: #bb9f3a;
}

.option:nth-child(2) {
  color: #8cad51;
}

.option:nth-child(3) {
  color: #db5bbf;
}

.option:nth-child(4) {
  color: #e07b67;
}

.option:nth-child(5) {
  color: #7b94cb;
}

#category-select:has(#options-view-button:checked) + #options {
  display: block;
}

.select:has(.option input:checked) #category-select label {
  color: #a881e6;
}

.select:has(.option input:checked) #selected-value{
  color: #fbf9fe;
}