* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
   font-size: 1.6rem;
  background-color: #130f1e;
  display: grid;
  place-content: center;
  height: 100vh;
  gap: 1.6rem;
}

#app {
  max-width: 36.0rem;
  padding-inline: 4.0rem;
}

h1 {
  font-family: "Inter";
  color: white;
  font-size: 3.2rem;
}

p {
  margin-top: .8rem;
  color: white;
  font-family: "Roboto";
  opacity: 0.67;
}

.buttons {
  margin-top: 10.0rem;
  display: grid;
  gap: 3.2rem;
}

.primary {
  --bg-default: #8257e5;
  --bg-hover: #9674e5;
}

.secondary {
  --bg-default: #3c3748;
  --bg-hover: #6a617f;
}

.tertiary {
  --bg-default: transparent;
  --bg-hover: transparent;
}

button {
  background-color: var(--bg-default);
  font-family: "Inter";
  border: 0;
  color: white;
  padding: 1.2rem 2.4rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  border-radius: 2.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
}

button:hover {
  background-color: var(--bg-hover);
}

button:focus {
  outline: .2rem solid #d9cdf7;
}

button:disabled {
  background-color: var(--bg-default);
  opacity: 0.56;
  cursor: not-allowed;
}

.loading {
  cursor: progress;
}

.loading i {
  font-size: 1.6rem;
  animation: spin 700ms infinite linear;
}

.movable {
  cursor: move;
}

.movable i {
  font-size: 1.8rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}