* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121214;
}

.container {
  width: 80vw;
  aspect-ratio: 16/9;
  position: relative;
  border-radius: 0.3125rem;
  border: 8px solid #ffffff;
  overflow: hidden;
}

picture {
  position: absolute;
}

img {
  width: 80vw;
  height: 100%;
  object-fit: cover;
}

.before-img {
  width: 50%;
  overflow: hidden;
}

#slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  margin: 0;
  outline: 0;
  z-index: 10;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 100vh;
  background-color: #ffffff;
  cursor: pointer;
}

#dragger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
