* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Raleway', sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #242424;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 43rem;
    height: 90rem;
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5.4rem;
    position: relative;
    overflow: hidden;
    border-radius: 4rem;
}

span {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 3.8rem;
    text-align: center;
    margin: 35rem 0 10rem;
}

i {
    font-size: 2.4rem;
}

main .controls {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 32.1rem;
    gap: 8.2rem;
}

.brightness,
.contrast,
.hue {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.hue > div,
.brightness > div,
.contrast > div {
    display: flex;
    align-items: center;
    /*height: 0.5rem;*/
    border-radius: 1.2rem;
    background-color: #fff;
}

.hue > div {
    background: linear-gradient(
        90deg,
        #f00 5.21%,
        #ff8a00 16.48%,
        #ffe600 27.74%,
        #14ff00 39.35%,
        #00a3ff 49.37%,
        #0500ff 61.18%,
        #ad00ff 72.26%,
        #ff00c7 83.53%,
        #f00 94.61%
    );
}

input[type='range'] {
    width: 28.1rem;
    height: 0.5rem;
    appearance: none;
    background-color: transparent;
}

.hue > div > input[type='range']::-webkit-slider-thumb,
.brightness > div > input[type='range']::-webkit-slider-thumb,
.contrast > div > input[type='range']::-webkit-slider-thumb {
    width: 1.8rem;
    height: 1.8rem;
    border: 0.3rem solid #fff;
    background-color: transparent;
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0px 6.666666507720947px 10px 0px rgba(31, 41, 55, 0.1),
        0px 3.3333332538604736px 6.666666507720947px 0px rgba(31, 41, 55, 0.06);
}

.brightness > div > input[type='range']::-webkit-slider-thumb,
.contrast > div > input[type='range']::-webkit-slider-thumb {
    background-color: #151515;
    border: 0.3rem solid #fff;
}

main .preview {
    display: flex;
    width: 84.6rem;
    height: 84.6rem;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0px 0px 53px 13px red;
    position: absolute;
    top: -50rem;
}
