* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: 62.5%;
}

html,
body {
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  color: #e1e1e6;
  background-color: #1a1924;
}

ul {
  list-style: none;
}

header {
  background-color: #16151e;
}

.flex {
  display: flex;
}

.container {
  padding: 4rem;
}

.items-center {
  align-items: center;
}

header h2 {
  font-size: 2rem;
  line-height: 2.3rem;
}

nav {
  justify-content: space-between;
}

nav ul {
  gap: 2rem;
}

nav ul li {
  font-size: 2.4rem;
}

form {
  margin-top: 2.4rem;
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.input-wrapper {
  gap: 1rem;
  background: #24243d;
  border-radius: 0.5rem;
  padding: 1.6rem 2.4rem;
}

.input-wrapper input {
  background-color: transparent;
  border: 0;
  width: 100%;
  outline: 0;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #e1e1e6;
}

.input-wrapper ion-icon {
  font-size: 1.6rem;
}

.input-wrapper input::placeholder {
  color: #e1e1e6;
}

.input-wrapper:focus-within {
  outline: 0.2rem white solid;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
  height: 75vh;
  overflow-y: scroll;
}

.contacts::-webkit-scrollbar {
  width: 0.8rem;
}

.contacts::-webkit-scrollbar-thumb {
  background: #282843;
  border-radius: 99.9rem;
}

.letter {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  margin-right: 5.2rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  background-color: var(--color);
}

.purple {
  --color: #633bbc;
}

.green {
  --color: #07847e;
}

.pink {
  --color: #9a00b3;
}

.blue {
  --color: #0088b3;
}

.yellow {
  --color: #b38c00;
}

.person {
  gap: 1.6rem;
}

.person img {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  border-radius: 50%;
}

.person h3 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.person p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #8c8cba;
  margin-top: 0.4rem;
}

.list-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

header nav,
header form,
.list-wrapper {
  max-width: 350px;
  width: 100%;
  margin-inline: auto;
}
